{% extends 'base.html' %}
{% block head %}
<title> Person Form</title>
<style>
    .list-group-item {
        background-color: transparent;
        border: transparent;
    }
</style>
{% endblock %}


{% block content %}
<div class="row">
    <h1>Jay Swaminarayan</h1>
    <h1>Welcome to Home</h1>
</div>

<div class="row">

    <form method="post" target="_top" >
        <div class="mb-3 col-2">
          <label for="exampleInputEmail1" class="form-label">Date</label>
          <input name='date' type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Get data</button>
      </form>
</div>
{% endblock %}